<template>
  <div class="upvote-container">
    <div class="upvote-container__upvotes">
      <Upvote
        v-for="item in row.upvoteNumber"
        :key="item"
        :selected="row.selected"
        @click="toggleRow"
      />
    </div>

    <UpvoteButton @click="setUpvoteNumber" :row-id="rowId" />
  </div>
</template>

<script>
import { ref } from "vue"
import { useStore } from "vuex"
import Upvote from "./Upvote.vue"
import UpvoteButton from "./UpvoteButton.vue"

export default {
  name: "UpvoteRow",
  components: {
    Upvote,
    UpvoteButton,
  },
  setup() {
    const store = useStore();
    store.dispatch("setRow");

    const rowId = ref(store.getters.getRows[store.getters.getRows.length - 1].id);

    const setUpvoteNumber = () => {
      store.dispatch("setUpvoteNumber", rowId.value);
    };

    const row = store.getters.getRows[rowId.value];

    const toggleRow = () => {
      store.dispatch("toggleRow", rowId.value);
    };

    return {
      rowId,
      setUpvoteNumber,
      row,
      toggleRow,
    };
  },
};
</script>

<style>
.upvote-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.upvote-container__upvotes {
  min-width: 200px;
  min-height: 32px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 5px;
}
</style>
