<template>
  <div id="container">
    <div id="wireframe">
      <UpvoteRow />
      <UpvoteRow />
      <UpvoteRow />
    </div>
  </div>
</template>

<script>
import UpvoteRow from "./components/UpvoteRow.vue"

export default {
  name: "App",
  components: {
    UpvoteRow
  },
};
</script>

<style>
#container {
  background: #e0e0e0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wireframe {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.2), 0px 2px 4px -3px rgba(0, 0, 0, 0.5);
}
</style>
